div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}


div.news-list {margin-left: 50px; color:#686868; font-size: 12px;}
div.news-list p {color:#686868; font-size: 12px; line-height: 16px;}
div.news-list a {line-height: 16px;}
div.news-list span.news-date-time {color:#acacac; font-size: 11px;}

div.news-item {cursor: pointer;}