div.catalog-section-list img {width: 170px; display: block; margin-bottom: 10px;}
div.catalog-section-list li {margin-right: 50px !important; margin-bottom: 50px !important; text-align: center; padding: 10px; border-bottom: 1px dotted silver; width: 170px; display: inline-block;}

div.catalog-section-list a {font-weight: normal; font-size: 16px; text-decoration: none}
div.catalog-section-list li:hover {border-bottom: 1px solid silver}