

.filtren {width: 96% !important; border:1px solid silver !important; border-radius: 4px; background: url('images/groovepaper.png')!important;}
.filtren h5 {margin: 0 !important; margin-bottom: 5px !important;}

.filtren .cnt .lsnn { margin: 0!important;}
.filtren .cnt li { margin: 0!important;}

li.active {background: #f1e2b9 !important;}
.horizontalfilter { margin-left: 0;} 
.horizontalfilter li:hover {background: #f1e2b9 !important; padding: 0!important;}

.filtren input[type="checkbox"] {float: left; margin-right: 10px;}

.filtren.compare .cntf .cnt input[type=text] {}

.ui-state-focus:focus {outline: 0}
.ui-slider .ui-slider-handle {background:url("images/gui.png") no-repeat; background-position:-36px -588px; border: 0;}
.ui-slider-horizontal {background: #a9cbd5; border: 1px solid #92b0b9;}
.ui-widget-header {background: url("images/gui.png") 0 -242px repeat-x;}

.filtren h5{
	font-size:15px;
	text-shadow:0 1px 1px #fff;
	margin-bottom:23px
}

.filtren #BASE{ border-bottom: 1px solid #ddd; }

.filtren,
.sidebar .vieweditems{
	width: 159px;
	/* border: 8px solid #E1F5FB; */ /* COLORS */
	margin-bottom: 20px;
	padding: 17px;
	background: #fff;
	padding-left: 30px;
}
.filtren{
	width: 169px;
	padding-left: 20px;
	
}

input.max-price,
input.min-price{ 
	display:block;
	width:60px;
	height:27px;
	border-radius:3px;
	/* border:1px solid #8ca3ae; *//* COLORS */
	padding:4px;
	box-shadow:0 1px 1px rgba(255,255,255,.75),inset 0 3px 6px rgba(215,215,215,.75)
}
div.max-price{float:right}
div.min-price,
div.max-price{
	border:none;
	box-shadow:none;
	font-size:13px;
	color:#3f3f3f;
	padding-top: 7px;
	height:14px
}
.filtren{
	position:relative;
	/* background:#c4eaf5 */ /* COLORS */
}
.filtren.compare{
	padding-bottom: 40px;
	margin-bottom:20px;
	width:665px
}
.more-options-hfilter-button{
	position: absolute;
	bottom: 10px;
	left: 20px;
	font-size: 13px
}
.filtren.compare .catf{
	width:165px;
	float:left;
	background:url(images/filter_shadow.png) no-repeat right center;
	padding-right:7px;
	margin-right:10px;
	background-size: 7px 100%;
}
.filtren.compare .catf ul li{
	display:block;
	margin:0 !important;
	padding:0;
	width:140px;
	cursor:pointer;
}
/* .filtren.compare .catf ul li.active, */ /* COLORS */
/* .filtren.compare .catf ul li:hover{ */ /* COLORS */
	/* display:block;  */ /* COLORS */
	/* background:#e1f5fb;  */ /* COLORS */
/* } */ /* COLORS */
.filtren.compare .catf>ul>li>span{
	padding:5px 0 5px 15px;
	width:150px;
}
.filtren.compare .catf>ul>li>span>span{
	text-decoration:none;
	border-bottom:1px dashed #000;
	color:#000;
}
.filtren.compare ul li{
	/* width:177px; */
	vertical-align:top;
	position:relative;
	padding-left:18px;
	margin-right:25px;
	margin-bottom:10px;
	display:inline-block;
	width:130px;
    
}

.filtren.compare ul li label{ font-size: 12px;}

.filtren.compare ul li,
.filtren.compare ul li a{
	font-size: 13px;
	color: #3F3F3F;
	line-height: 20px;
	text-decoration:none;
}
.filtren.compare .cntf ul li span{
	position:absolute;
	left:-4px;
	top:1px;
}
.filtren.compare .cntf .cnt span{
	font-size:14px;
}
.filtren.compare .cntf .cnt input[type=text]{
	display:inline-block;
	margin-right:20px;
	width:60px;
	
	border-radius:3px;
	border:1px solid #8ca3ae;
	padding:4px;
	box-shadow:0 1px 1px rgba(255,255,255,.75),inset 0 3px 6px rgba(215,215,215,.75)
}
.filtren.compare .bt1{
/* 	position: absolute;
	right: 149px;
	bottom: 10px; */
	width: auto;
}
.filtren.compare .bt2{
/* 	position: absolute;
	right: 21px;
	bottom: 20px; */
	width: auto;
}
.filtren .posabo{
	position: absolute;
	bottom: 10px;
	right: 34px;
}
.filtren.compare .cntf .cnt{
	padding-top: 7px;
	display:none
}
.filtren.compare .cntf .cnt.active{
	display:block;
	position:relative;
	margin-left: 185px
}

.table_compare{
	width:728px;
	overflow-x:auto;
	overflow-y:hidden;

	max-height: 1200px !important;
}
.table_compare table tr td img{
	max-width:100px;
	width:auto;
	max-height:100px;
	height:auto;
	padding:10px;
}
.table_compare table tr td{
	position:relative;
	font-size:14px;
	padding:8px 20px;
	text-align:left;
}
.table_compare table tr:nth-child(odd) td{
	background:#fff;
}
.table_compare table tr td:first-child{
	font-weight:bold;
	color:#3d4345;
	white-space: nowrap;
}

.horizontalfilter li{position:relative}
.horizontalfilter li > span{display:block;}
#BASE .modef,
.horizontalfilter li .modef,
.sidebar .filtren .modef{
	background:white;
	position:absolute;
	margin-top:-35px;
	right:200px;
	white-space:nowrap;
	border:1px solid #8bbecb;
	border-radius:4px;
	box-shadow:2px 2px 5px 0 rgba(0,0,0,0.2);
	font-size:13px;
	color:#3f3f3f;
	padding:10px 25px 10px 10px
}
#BASE .modef{
	margin-top: -10px;
	right: 686px;
}
.horizontalfilter li .modef{
	margin-top:-6px;
	right:175px;
}
#BASE .ecke,
.horizontalfilter li .ecke,
.sidebar .filtren .ecke{
	border-top:1px solid #8BBECB;
	border-right:1px solid #8BBECB;
	border-bottom:none !important;
	background:#fff;
	display:block;
	width:10px;
	height:10px;
	position:absolute;
	right:-7px;
	top:50%;
	margin-top:-5px;
	box-shadow:2px -1px 4px -1px rgba(0,0,0,0.2);

	-moz-transform:scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform:scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform:scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform:scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform:scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg)
}
#BASE .ecke.ie,
.horizontalfilter li .ecke.ie,
.sidebar .filtren .ecke.ie{
	border:none !important;
	background:url(images/arw.png) no-repeat top right;
	height:15px;
	right:-8px;
	margin-top:-8px;
	-moz-transform:none !important;
	-webkit-transform:none !important;
	-o-transform:none !important;
	-ms-transform:none !important;
	transform:none !important
}
#modef a{
	color:#007acf;
	border:none;
	text-decoration:underline;
	font-size:14px;
	margin:0 !important;
}
#modef a:hover{
	color:#e83434;
	text-decoration:none;
}
.sidebar .filtren span{
	color:#000;
	font-size:14px;
	text-shadow:0 1px 1px #fff;
	vertical-align:top
}
.sidebar .filtren>ul>li> span a{
	color:#000;
	text-decoration:none;
	border-bottom:1px dashed #000;
	font-size:16px;
	display:inline-block;
	margin-top:5px;
	margin-bottom:5px
}
.sidebar .filtren ul>li>ul{
	display:none;
	overflow:hidden
}
.lvl2_disabled {
   color: #dbdbdb !important;
   text-shadow: none !important;

} 
.sidebar .filtren ul>li{min-height:25px}
.sidebar .filtren ul>li label{
	font-size:14px;
	text-shadow:0 1px 1px #fff;
	top:-2px;
	position:relative;
}

.ui-slider-horizontal{ 
	height:4px;
	/* background:#a9cbd5; *//* COLORS */
	box-shadow:inset 0 1px 0 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(255,255,255,0.5);
	border-radius:5px;
	/* border:1px solid #92b0b9 *//* COLORS */
}
.ui-slider .ui-slider-handle{
	position:absolute;
	z-index:2;
	width:22px;
	height:22px;
	cursor:pointer;
}
.ui-slider .ui-slider-range{
	position:absolute;
	z-index:1;
	font-size:.7em;
	display:block;
	border:0;
}
.ui-widget-header{
	color:#fff;
	font-weight:bold
}

.ui-slider{
	margin:25px auto 8px;
	width:85%;
	position:relative;
	text-align:left
}

.ui-slider-horizontal .ui-slider-handle{
	top:-.3em;
	margin-left:-.6em;
	margin-top:-2px
}
.ui-slider-horizontal .ui-slider-range{top:0;height:100%}
.ui-slider-horizontal .ui-slider-range-min{left:0}
.ui-slider-horizontal .ui-slider-range-max{right:0}


.ui-slider-vertical .ui-slider-handle{left:-.3em;margin-left:0;margin-bottom:-.6em}
.ui-slider-vertical .ui-slider-range{left:0;width:100%}
.ui-slider-vertical .ui-slider-range-min{bottom:0}
.ui-slider-vertical .ui-slider-range-max{top:0}

.sidebar .vieweditems ul li{
	padding-bottom:17px;
	border-bottom:1px solid #e0ecf3;
	margin-bottom:10px;
	position:relative
}
.sidebar .vieweditems ul li:last-child{border-bottom:none}

.sidebar .vieweditems h5{
	font-size:16px;
	margin-bottom:23px
}
.sidebar .vieweditems ul li a img{
	width:64px;
	margin-bottom:9px;
	height:auto
}
.sidebar .vieweditems h4{
	line-height:19px;
	margin-bottom:10px
}
.sidebar .vieweditems h4 a{
	font-size:14px;
	text-decoration:none
}
.sidebar .vieweditems h4 a:hover{text-decoration:underline}
.price{font-weight:bold;color:#2d2d2d}
.discount-price{font-weight:bold;color:#E83434}
.old-price{text-decoration:line-through;color:#2d2d2d}
.sidebar .vieweditems .price{
	position:absolute;
	top:5px;
	right:0;
	/* background:#e1edf2; */ /* COLORS */
}
.sidebar .vieweditems .price span{
	display:block;
	padding:0px 5px;
	font-size:12px;
	line-height:17px;
	font-weight:bold;
}


