h4 a.item_title {font-size: 14px; font-weight: normal !important; margin-bottom: 10px !important;}
div.price .old-price {color:#e74c3c; text-decoration: line-through; font-size: 13px; font-weight: normal; margin-right: 7px;}
div.price span {font-size: 16px;}
div.listitem-carousel div.price {height: 38px;}
div.buy {text-align: center;}
div.buy a.btn {width: 168px; margin-bottom: 10px;}
li.itembg {cursor: pointer;}





.caroufredsel_wrapper{padding-right:6px}

.listitem-carousel{position:relative}
.workarea.pleft .listitem-carousel{
	left:-17px;
	width:754px
}
.listitem-carousel ul{
	width:980px;
	overflow:hidden;
	padding:2px;
	margin:0
}
.listitem ul li,
.listitem-carousel ul li{
	width:200px;
	display:inline-block;
	vertical-align:top;
	background:#fff;
	position:relative;
	padding:10px;
	margin:10px 9px;
	box-shadow:5px 5px 5px -1px #f7efdb
}
.workarea.pleft .listitem-carousel ul li{margin:10px 15px}
.listitem_horizontal{width:100%}
.thumbSlider ul li,
.listitem_horizontal>li{
	display:block;
	background:#fff;
	box-shadow:0 0 4px rgba(123,152,165,0.4);
	margin:15px 4px 30px;
	position:relative
}
.checkbox{
	top:9px;
	position:absolute;
	display:block;
	width:100px
}
.checkbox a{text-decoration:none}
.checkbox_text{
	font-size:11px;
	color:#5f6a71;
	margin-top:1px;
	position:absolute
}
.badge,
.badge.specialoffer{
	position:absolute;
	background:#F5CB26;
	top:10px;
	right:10px;
	padding:5px 10px !important;
	font-weight:bold;
	font-size:14px;
	color:#000;
}
.listitem .badge,
.listitem .badge.specialoffer,
.listitem-carousel .badge,
.listitem-carousel .badge.specialoffer{
	top:165px;
	right:0;
}
.badge.notavailable{background:#FFD8D8}
.setaside{
	font-weight:normal;
	color:#3f3f3f
}
.setaside:hover{text-decoration:none}
.listitem ul li a.link img,
.listitem-carousel ul li a.link img{
	max-width:130px;
	max-height:130px;
	height:auto;
	width:auto;
	margin:5px auto
}
.listitem ul li a.link,
.listitem-carousel ul li a.link{
	width:130px;
	/*height:170px;*/
	display:block;
	overflow:hidden;
	margin:0 auto
}
hr{
	border:none;
	border-bottom:1px solid #e0ecf3;
	margin-top:10px
}
.listitem ul li h4 a,
.listitem-carousel ul li h4 a{
	display:block;
	font-size:14px;
	text-decoration:none;
	width:100%;
}
.listitem h4,
.listitem-carousel h4{}
.listitem ul li h4 a:hover,
.listitem-carousel ul li h4 a:hover{text-decoration:underline}
.listitem ul li h4 a .model,
.listitem-carousel ul li h4 a .model{
	display:block;
	overflow:hidden
}
.listitem ul li .buy,
.listitem-carousel ul li .buy{
	width:195px;
	position:relative;
	min-height:49px;
	overflow:hidden
}
.listitem ul li .buy div.price,
.listitem-carousel ul li .buy div.price{
	display:inline-block;
	font-size:14px;
	line-height:19px;
	font-weight:bold;
	padding:0
}
.listitem ul li .buy .price .old_price,
.listitem-carousel ul li .buy .price .old_price{font-weight:normal}