div.side_bar div.catalog-section-list {margin-bottom: 15px;}
div.side_bar div.catalog-section-list ul { margin: 3px 0 5px 0px;  }
div.side_bar div.catalog-section-list ul > li {padding-left: 0px; font-weight: bold; font-size: 14px; margin-bottom: 5px}

div.side_bar div.catalog-section-list li > ul > li {padding-left: 15px; font-weight: normal; font-size: 13px; line-height: 15px; margin: 0; margin-bottom: 4px;}

