div.catalog-section table td {
	/*padding-right:35px;*/
	
}

div.catalog-section {margin-top: 20px;}
div.catalog-section table.item {width: 200px; vertical-align: top; background: #fff; position: relative; margin: 10px 20px 10px 0; box-shadow: 3px 3px 3px -1px #ddd;}

div.catalog-section table.item td {}

div.catalog-section .item td{ line-height: 16px; text-align: center;}
div.catalog-section .item .catalog-price {
	 color:black;
     font-weight: bold;
     font-size: 12px;
}

div.catalog-section .name { margin: 0 10px; }

div.catalog-section .item .buy_it { display: none;}

div.catalog-section .item { border: 1px solid #fff;}
div.catalog-section .item:hover { border: 1px solid #ccc;}
div.catalog-section .item img { max-height: 230px; width: auto; margin: auto; max-width: 95%;}
div.catalog-section .item:hover .buy_it { padding: 15px 0; display: block; position: absolute; top: 0; width: 100%; text-align: center;
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 82%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(82%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 82%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 82%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 82%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 82%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}

div.catalog-section .item .data-table s { font-size: 12px; color: red; display: inline-block; margin-right: 5px;}

div.catalog-section table.item {cursor: pointer;}

body .modal {
    /* new custom width */
    width: 900px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -450px;
    max-height: 100%;
        
}
body .modal .modal-body{
    height: auto;
    max-height: 100%;
}