/***********************************************************************************************************************/
/*** TD Marks ***/
#TDMarks #marks .mark{
    box-sizing: padding-box;
    width: 19%;
    text-align: left;
    padding: 10px 20px;
    border-radius: 6px;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #c9c9c9;
    margin-bottom: 3px;
    margin-left: 3px;
}
#TDMarks #marks .mark:hover{
    border: 1px solid #313131;
    border-radius: 10px;
    cursor: pointer;
}
#TDMarks #marks .mark a,#TDMarks #marks .mark a:hover{ text-decoration: none; }
#TDMarks input#fastSearch{
    text-align: center;
    font: inherit;
    border: 3px solid #9A9A9A;
    padding: 13px 12px;
    font-size: 15px;
    box-shadow: 0 1px 1px #DDD;
    width: 384px;
    outline: none;
    display: block;
    color: #7B8585;
    margin: 0 auto 20px;
}
/***********************************************************************************************************************/


/***********************************************************************************************************************/
/*** TD Models ***/
#TDModels{}
#TDModels table .info{ width: 40px; }
#TDModels table .type{ width: 150px; }
/***********************************************************************************************************************/


/***********************************************************************************************************************/
/*** TD Details ***/
#TDDetails table .brand img{ height: 30px }

#TDDetails table .brand{ width:210px }
#TDDetails table .group{
    width: 270px;
    border-left: 0;
}
#TDDetails table .number{ }
#TDDetails table .basket{
    width: 140px;
    border-right: 0;
}
#TDDetails table .group,
#TDDetails table .number,
#TDDetails table .basket
{ border-bottom: 0 }

#TDDetails table .group.magic,
#TDDetails table .number.magic,
#TDDetails table .basket.magic
{ border-top: 0; height: 30px }
/***********************************************************************************************************************/


/***********************************************************************************************************************/
/*** TD Groups ***/
#TDGroups table .vendor{ width:150px }
#TDGroups table .number{ width:130px }
/***********************************************************************************************************************/



/***********************************************************************************************************************/
/*** TD Applicability ***/
#TDApplicability table.innerTable td{ padding: 4px 8px; }
/***********************************************************************************************************************/


/***********************************************************************************************************************/
/*** TD Crossover ***/
#TDCrossover table{
    border-collapse: separate;
    border-spacing: 6px;
    padding: 30px;
}
#TDCrossover table td{
    background-color: #d3d3d3;
    padding: 5px 10px;
}
/***********************************************************************************************************************/


/***********************************************************************************************************************/
/***********************************************************************************************************************/
/***********************************************************************************************************************/
/***********************************************************************************************************************/
/***********************************************************************************************************************/
/***********************************************************************************************************************/
/***********************************************************************************************************************/
/***********************************************************************************************************************/
/***********************************************************************************************************************/
/***********************************************************************************************************************/
/***********************************************************************************************************************/
