table.br_table tr td {
	padding: 2px 10px 2px 0;
	vertical-align: top;
}

table.garage-edit tr th {
	text-align: right;
}

.garage-hide-tr {
	display: none;
}

input.garage-vin {
	width: 100%;
	font-size: 22px !important;
}

/********************/
.garage-edit {}
.garage-edit .left_col { width: 70px}

.garage-edit .button { padding: 4px 15px; margin: 7px 0; cursor: pointer}

.garage-item { background: #F0F0F0; border-bottom: 1px solid #fff; border-top:1px solid silver; padding: 10px; }
.garage-item-title { font-size: 18px}
.garage-item .details { color: #A6A6A6; font-size: 11px; padding-right: 10px}
.garage-item .edit { margin: 5px; float: right}

.garage-item .gototecdoc { font-weight:bold; }

.garage-edit td { vertical-align: top}

#tr_brand .field-name{
    padding-bottom: 15px;
}