.catalog-price {
	 font-size: 18px;
	 font-weight: bold;
}

.catalog-element { }
.catalog-element a.btn-warning {width: 90px !important;}

.catalog-element div.main_photo {margin-bottom: 10px;}
.catalog-element div.main_photo img {}

.catalog-element div.gallery ul {margin: 0px;}
.catalog-element div.gallery img {border: 1px solid silver;}
.catalog-element td.description {padding-left: 35px; line-height: 17px; font-size: 12px;}

.catalog-element div.offers_prices table.lm-auto-search-parts td.basket a.btn {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #f89406;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */

	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.catalog-element div.offers_prices table.lm-auto-search-parts td.basket a.btn:hover,
.catalog-element div.offers_prices table.lm-auto-search-parts td.basket a.btn:focus,
.catalog-element div.offers_prices table.lm-auto-search-parts td.basket a.btn:active,
.catalog-element div.offers_prices table.lm-auto-search-parts td.basket a.btn.active,
.catalog-element div.offers_prices table.lm-auto-search-parts td.basket a.btn.disabled,
.catalog-element div.offers_prices table.lm-auto-search-parts td.basket a.btn[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}

.catalog-element div.offers_prices table.lm-auto-search-parts td.basket a.btn:active,
.catalog-element div.offers_prices table.lm-auto-search-parts td.basket a.btn.active {
  background-color: #c67605 \9;
}

.catalog-element div.offers_prices table.lm-auto-search-parts td.basket a.btn img {position: relative; top:-3px; opacity: 0.6;}

.main_photo .catalog-detail-images { display: block; width: 300px; background: #fff; border: 1px solid silver; text-align: center; padding: 10px 0;}

.main_photo .catalog-detail-images img{ max-height: 300px; width: auto; margin: auto;}